.main-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-page p {
    text-align: center;
    font-size: 1.5vw;
    margin: 1vw;
}

.enter-button {
    font-size: 2vw;
    width: 12vw;
    height: 3vw;
    margin: 0.5vw 0 1vw;
    font-weight: 200;
}