.deck {
    height: 50vh;
    width: 35vh;
    margin-left: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8vh;
    font-weight: 200;
    cursor: default;
}

.deck:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 10px 10px rgba(0,0,0,0.23);
}