.decks .flip-container {
    height: var(--deck-height);
    width: var(--deck-width);
    margin-left: var(--deck-margin);
}

.front-side {
    display: flex;
    align-items: center;
}

.deck-info {
    height: 100%;
    display: grid;
    grid-template-rows: 1.5fr 3fr 1fr 1.5fr;
}

.deck-name {
    width: 100%;
    text-align: center;
    font-size: 8vh;
    font-weight: 200;
}

.deck-statistics {
    display: flex;
    align-items: center;
}

.settings-buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.edit-button, .delete-button {
    height: 60%;
    width: 42.5%;
    font-size: 2.5vh;
}

.play-button {
    width: 90%;
    margin: 2% 5% 8%;
    font-size: 5vh;
}