.view-page .page-content {
    display: flex;
    flex-direction: column;
}

.middle {
    position: relative;
    flex: 1 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dark .card-side input,
.dark .deck-heading {
    background-color: black;
    color: white;
    border-color: #66E2FF;
}

.deck-heading {
    width: 30vw;
    font-size: inherit;
    font-weight: inherit;
    border: #006778 solid 1px;
    text-align: center;
}

.return-button {
    position: absolute;
    bottom: 2vw;
    left: 2vw;
    width: 15vw;
    height: 3vw;
    font-size: 2vw;
    font-weight: 200;
}