.decks .flip-container {
    height: var(--deck-height);
    width: var(--deck-width);
    margin: var(--deck-margin);
}

.front-side {
    display: flex;
    align-items: center;
}

.deck-info {
    height: 100%;
    display: grid;
    grid-template-rows: 1.5fr 3fr 2.5fr;
}

.deck-name {
    width: 100%;
    text-align: center;
    font-size: 4.5vw;
    font-weight: 200;
    overflow-x: hidden;
    padding: 0 5px;
    box-sizing: border-box;

    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    hyphens: auto;
}

.deck-info .deck-name {
    font-size: 4vw;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.controls {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.play-button,
.edit-button {
    width: 90%;
    font-size: 2.5vw;
    font-weight: 300;
    flex-shrink: 0;
}