.app {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: grid;
    grid-template-rows: 1fr 10fr;
    font-family: Roboto, sans-serif;
    cursor: default;
    position: relative;
}

input {
    font-family: Roboto, sans-serif;
}

.page {
    display: grid;
    grid-template-rows: 2fr 10fr;
    overflow-y: auto;
}

.page-name {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    min-height: 100px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: relative;
    z-index: 100;
}

button {
    border: none;
    border-radius: 5px;
    font-family: Roboto, sans-serif;
    outline: none;
}

button:active {
    transform: translateY(5%);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 2px 2px rgba(0,0,0,0.23);
}

.shadow {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.light {
    background-color: #eeeeee;
}

.light .main-color {
    background-color: #66E2FF;
}

.light .main-color-light {
    background-color: #9FFFFF;
}

.light .main-color-dark {
    background-color: #006778;
}

.light .red {
    background-color: #FF6966;
}

.light .yellow {
    background-color: #FFDF4D;
}

.light .green {
    background-color: #5DE388;
}