.deck-subview {
    display: flex;
    overflow-x: auto;
    padding: 20px 10px;
}

.card-container {
    padding-right: 20px;
}

.card-container:last-child {
    padding-right: 10px;
}

.card {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    flex-direction: column;
    box-sizing: content-box;
    cursor: pointer;
}

.card.chosen,
.card:hover {
    transform: scale(1.05);
}

.card.chosen {
    box-shadow: 0 0 10px 10px white;
    background-color: white;
}

.dark .card.chosen {
    box-shadow: 0 0 10px 10px rgba(255, 255, 255, 0.1);
    background-color: rgba(255, 255, 255, 0.11);
}

.card-front {
    margin-bottom: 5px;
}

.card-front,
.card-back {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    width: 8vw;
    height: 3vw;

    font-size: 0.9vw;
}

