:root {
    --deck-height: 25vw;
    --deck-width: 17.5vw;
    --deck-margin: 5vw;
}

.decks {
    display: flex;
}

.create-button,
.deck-like {
    height: var(--deck-height);
    width: var(--deck-width);
    margin-left: var(--deck-margin);
}


.create-button {
    border: #bbbbbb 0.5vw dashed;
    box-sizing: border-box;
    color: #bbbbbb;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20vw;
    font-weight: 900;
    user-select: none;
}

.create-button:hover {
    border-color: #999999;
    color: #999999;
}

.deck-like {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 2.5vw;
    font-weight: 300;
    user-select: none;
}

.deck-like:first-child {
    margin: 0;
}