.app {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
    cursor: default;
    position: relative;
    transition: background-color 0.5s, color 0.5s;
}

input {
    font-family: Roboto, sans-serif;
}

.page {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
}

.page-name {
    flex: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4vw;
    padding: 2vw;
}

.page-content {
    flex: 1 0 auto;
}

.dark .page-name {
    color: #66E2FF;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: relative;
    z-index: 100;
    flex: none;
}

button {
    border: none;
    border-radius: 5px;
    font-family: Roboto, sans-serif;
    outline: none;
    cursor: pointer;
}

button:active {
    transform: translateY(5%);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 2px 2px rgba(0,0,0,0.23);
}

.theme-button {
    left: 48.25vw;
    position: absolute;
}

.light a {
    color: #006778;
}

.dark a {
    color: #66E2FF;
}

.shadow {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.light {
    background-color: #eeeeee;
}

.dark {
    background-color: #121212;
    color: white;
}

.dark button {
    color: white;
}

.dark .main-color {
    background-color: #303030;
    color: #66E2FF;
}

.dark .main-color-light {
    background-color: #444444;
    color: #9FFFFF;
}

.dark .main-color-dark {
    background-color: #006778;
}

.dark .red {
    background-color: #b42122;
}

.dark .yellow {
    background-color: #a59900;
}

.dark .green {
    background-color: #279b35;
}

.light .main-color {
    background-color: #66E2FF;
}

.light .main-color-light {
    background-color: #9FFFFF;
}

.light .main-color-dark {
    background-color: #006778;
}

.light .red {
    background-color: #FF6966;
}

.light .yellow {
    background-color: #FFDF4D;
}

.light .green {
    background-color: #5DE388;
}