.game-area {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.cards-container, .flip-container, .buttons {
    width: 50vw;
}

.cards-container, .flip-container {
    height: 20vw;
}

.flip-container {
    flex-shrink: 0;
    height: 100%;
}

.flip-container {
    margin-left: 100vw;
}

.card-side {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 300%;
    font-weight: 200;
}

.buttons {
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buttons button {
    height: 50%;
    width: 45%;
    font-size: 100%;
}

.cards {
    height: 100%;
    display: flex;
    transition: transform 500ms;
    margin-left: 50vw;
}

.back-button {
    flex-shrink: 0;
    height: 10vw;
    width: 30vw;
    margin-left: 110vw;
    margin-top: 5vw;
    font-size: 200%;
}