.main-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-page button {
    width: 40vw;
    height: 10vw;
    margin-bottom: 40px;
    font-size: 4vw;
    font-weight: 200;
}

.main-page button:last-child {
    margin-bottom: 0;
}